<li {% if active_link == "home" %}class="active"{% endif %}><a href="bride.html">Home</a></li>
<li {% if active_link == "bride" %}class="active"{% endif %}><a href="bride.html">Bride</a></li>
<li {% if active_link == "reception" %}class="active"{% endif %}><a href="reception.html">Reception</a></li>
<li {% if active_link == "ceremony" %}class="active"{% endif %}><a href="ceremony.html">Ceremony</a></li>
<li {% if active_link == "groom" %}class="active"{% endif %}><a href="groom.html">Groom</a></li>