{% extends "base.html" %}

{% block title %}Welcome to Weddings{% endblock %}

{% block content %}
	
{% load staticfiles %}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title text-center">
					<h1>MARINE FLORISTS</h1>
				</div>
			</div>
		</div>		
	</div>

	<nav class="navbar navbar-default">
		<div class="container text-center">
		<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="bride.html">Bride <span class="sr-only">(current)</span></a></li>
					<li><a href="reception.html">reception</a></li>
					<li><a href="ceremony.html">ceremony</a></li>
					<li><a href="groom.html">Groom</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>	
		
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="">
					<img src="{% static 'res/img/hand.jpg' %}" alt="hand.jpg">
				</div>
			</div>
			<div class="col-md-5">
				<div class="description">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
				</div>
				<div class="logo">
					<img src="{% static 'res/img/logo.png' %}" alt="logo">
				</div>				
			</div>
		</div>
		<div class="row smart-image">
			<div class="col-md-8 col-md-offset-4">
				<div>
					<img src="{% static 'res/img/image3.jpg' %}" alt="image3.jpg">
				</div>
			</div>
		</div>
	</div>

	<footer>
		<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="">
					<h5>OUR ADDRESS</h5>
					<p> 
						450 Rogers Ave
						Prospect Lefferts Gardens
						Brooklyn, NY 11225
						Cross Streets:
						Lincoln Rd & Lefferts Ave
					</p>
				</div>
			</div>

			<div class="col-md-3">
				<div class="">
					<h5>OUR GUARANTEE</h5>
					<p>When placing an order, be aware that some flower substitution may occur due to seasonal availability. We guarantee that your order will always retain the equivalent quality of flowers and style you expect for each and every order.</p>
				</div>
			</div>

			<div class="col-md-2">
				<div class="">
					<h5>OUR SOCIAL</h5>
				</div>
			</div>

			<div class="col-md-2">
				<div class="">
					<h5>PHONE</h5>
				</div>
			</div>

			<div class="col-md-2">
				<div class="">
					<img src="{% static 'res/img/rated.png' %}" alt="logo">
				</div>
			</div>
		</div>

	</footer>

{% endblock %}